<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>

</head>
<body class="container">

    <header>
        <%- include('../partials/header'); %>
        <br>
    </header>

    <main>
        <form name="dropdown_menu" id="dropdown_menu" action="/action_page" method="post">
            <select name="coding_language" id="subject">
              <option value="" selected="selected">Select Programming Language</option>
              <option value="0" name="Python">Python</option>
              <option value="1" name="C">C</option>
              <option value="2" name="Java">Java</option>
              <option value="3" name="C#">C#</option>
              <option value="4" name="Javascript">Javascript</option>
            </select>
            <br><br>
            <input type="submit" value="Submit">
        </form>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>