<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>

</head>
<body class="container">

    <header>
        <%- include('../partials/header'); %>
        <br>
    </header>

    <main>
        <!-- Code which will be creating the drop down menu which users will be using to navigate to desired programming language infos -->
        <div class="home_menu">
            <h1>Programming Language Background & Information</h1>
            <br>
            <form name="dropdown_menu" id="dropdown_menu" action="/action_page" method="post"> <!--Set to post, and also has an action sending user to said page upon sumbitting-->
                <select name="coding_language" id="subject">
                <option value="err" selected="selected">Select Programming Language</option> <!--Default Value-->
                <option value="0" name="Python">Python</option>
                <option value="1" name="C">C</option>
                <option value="2" name="Java">Java</option>
                <option value="3" name="C#">C#</option>
                <option value="4" name="Javascript">Javascript</option>
                </select>
                <br><br><br><br><br><br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>