<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>

</head>
<body class="container">

    <header>
        <%- include('../partials/header'); %>
        <br>
    </header>

    <main>
        <!-- This is basically identical code to index, however, with the addition of the notice that the user selected the default option which is an invalid choice -->
        <div class="home_menu">
            <h1>Programming Language Background & Information</h1>
            <br>
            <form name="dropdown_menu" id="dropdown_menu" action="/action_page" method="post">
                <select name="coding_language" id="subject">
                <option value="err" selected="selected">Select Programming Language</option>
                <option value="0" name="Python">Python</option>
                <option value="1" name="C">C</option>
                <option value="2" name="Java">Java</option>
                <option value="3" name="C#">C#</option>
                <option value="4" name="Javascript">Javascript</option>
                </select>
                <p><i>*Please select a valid option.</i></p> <!-- Only additional code on this page -->
                <br><br><br><br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>